/* Tags Gerais */
html, body{
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a{
    text-decoration: none;
}

section{
    padding: 50;
    float: left;
}

footer{
    float: left;
    background-color: #293a4d;
    color: rgb(207, 207, 207);
    width: 100%;
}

.coluna{
    float: left;
    padding: 0 5%;
    position: relative;
}
.dois{
    width: 40%;
}

.tres{
    width: 23%;
}

.quatro{
    width: 19%;
}

.justificar{
    text-align: justify;
}

.centralizar{
    text-align: center;
}

.icone{
    width: 40px;
}

.img{
    width: 100%;
}
.alinhar{
    padding-top: 5vh;
    margin: 0px;
}

.link{
    color: rgb(128, 124, 124);
}

.link:hover{
    color: darkgray;
}

/* --- Menu do site --- */

header{
    background-color: #415a77;
    width: 100%;
    height: 63px;
    position: fixed;
    z-index: 10;
}

ul{
    float: right;
    margin: 0;
}

li{
    float: left;
    list-style: none;
    padding: 22 30 22 30;
    transition:all 0.5s ease;
}

li:hover{
    background-color: #778da9;
}

#lmenu {
    color: rgb(207, 207, 207);
}


#lmenu:hover{
    color: white;
}

#logo{
    height: 50px;
    position: absolute;
    top: 9%;
    padding-left: 1%;
}

/* --- Capa do site --- */

#capa{
    padding: 0;
    float: none;
}

#fundo{ 
    background: url("imagens/fundo.jpg");
    background-size: cover; /*Faz com que a imagem se adpte ao tamanho da tela*/
    box-sizing: border-box; /*Faz a imagem ocupar apenas as medidas da janela do navegador*/
    height: 100%;/* Referência para elementos da imagem e não da  página*/
    padding-top: 18%;
    color: white;
}

#titulo{
    font-size: 45px;
    line-height: 0.3;
    color: #293a4d;
}

#subtitulo{
    border-top: 2px white solid ;
    padding-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
}

#linkint{
    color: black;
    background: white;
    border: white solid;
    padding: 10px;
}

#linkint:hover{
    color: black;
}

/* --- Introdução --- */

#introducao{
    border-left: 1.5vw #577590 solid;
    border-right: 1.5vw #577590 solid;
}

/* --- Necessidades --- */

#desenvolvimento{
    background-color: #f7f7f7;
    border-left: 1.5vw #43aa8b solid;
    border-right: 1.5vw #43aa8b solid;
}

/* --- Sobre mim --- */
#sobre{
    border-left: 1.5vw #90be6d solid;
    border-right: 1.5vw #90be6d solid;
}

#img{
    width: 100%;
}





